body {
    height: 1000px;
    background: url('../img/background.png') repeat-x;
    font-family: "Tahoma";
    font-size: 14px;
}

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1000px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    background-color: white;
}

/** HEADER **/

.header {
    height: 175px;
}

.logo {
    float: left;
    padding-top: 10px;
    padding-left: 28px;
}

.countries-list {
    float: right;
    margin-top: 110px;
    margin-right: -124px;
}

.countries-list li {
    display: inline-block;
    vertical-align: top;
    width: 53px;
    text-align: center;
}

.countries li a {
    font-size: 10px;
    text-decoration: underline;
}

.contacts {
    float: right;
    width: 135px;
    margin-top: 10px;
    margin-right: 10px;
    color: #5fa5bb;
    font-size: 12px;
    line-height: 1.5;
}

.contacts a {
    color: #5fa5bb;
}

.contact-head {
    text-shadow: 0 0 1px #5fa5bb;
}

/** End of HEADER **/

/** MAIN IMAGE **/

.main-img {
    height: 240px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
    background-image: url('../img/photo.png');
    background-size: cover;
}

/** End of MAIN IMAGE **/

/** NAVIGATION **/

.menu {
    box-sizing: border-box;
    height: 29px;
    padding: 0 0 0 38px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    border-bottom: 1px solid black;
    background-color: #353535;
}

.menu li {
    position: relative; 
    z-index: 1;
    float: left; 
    height: 23px;
    padding: 8px 29px 0 32px;
}

.menu a {
    display: block;
    height: 100%;
    color: white;
}

.submenu {
    position: absolute; 
    left: 21px;
    top: 29px;
    display: none; 
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    background-color: #353535;
}

.submenu li {
    display: block;
    float: none;
    padding: 0 30px 0 10px;
}

.submenu li:first-child {
    padding-top: 5px;
}

ul li:hover ul {
    display: block; 
}

/** End of NAVIGATION **/

/** MAIN CONTENT **/

.container {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 1000px;
    height: 542px;
    -webkit-column-width: 1000px;
    -moz-column-width: 1000px;
    column-width: 1000px;
    background: url(../img/content_bg.png) repeat-y;
    text-align: center;
}

.left-side {
    float: left;
    width: 209px;
}

.center-col {
    float: left;
    width: 580px;
}

.right-side {
    float: right;
    width: 209px;
}

.content-header {
    font-size: 18px;
    text-shadow: 0px 0px 1px #bfc2c2;
}

.container p {
    padding: 5px;
}

.clearfix {
    clear: both;
}

/** End of MAIN CONTENT **/

/** FOOTER **/

.footer {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.footer a {
    color: #dee7ee;
    font-family: "Tahoma";
    font-size: 12px;
}
/** End of FOOTER **/